<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Block</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="block">
      <div class="container my-3">
        <div class="row">
          <div class="col-md-12">
            <div
              class="d-block d-sm-flex justify-content-around align-items-center"
            >
              <a href="participant" class="btn btn-info w-100 m-1"
                >Participants Information</a
              >
              <a href="block" class="btn btn-info w-100 m-1"
                >Block master (Address)</a
              >
              <a href="activity" class="btn btn-info w-100 m-1"
                >Activity Master</a
              >
              <a href="personel" class="btn btn-info w-100 m-1"
                >Personnel Master Fi...</a
              >
              <a href="personelmaster" class="btn btn-info w-100 m-1"
                >Peronnel master Ar...</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto">
            <div class="card p-3 my-5 shadow">
              <h3 class="text-center">Block</h3>
              <form method="POST" action="/blocks">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Block</label>
                    <input
                      type="text"
                      class="form-control"
                      id="Name"
                      name="name"
                      onkeyup="validateName()"
                    />
                    <div id="Namediv" class="position-absolute style"></div>
                  </div>

                  <div class="form-group col-md-6">
                    <label>District</label>
                    <input
                      type="text"
                      class="form-control"
                      id="district"
                      name="district"
                      onkeyup="validatedistrict()"
                    />
                    <div id="districtdiv" class="position-absolute style"></div>
                  </div>

                  <div class="form-group col-md-6">
                    <label class="d-block">UT J&K</label>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="ut_jk"
                        id="exampleRadios1"
                        value="1"
                        checked
                      />
                      <label class="form-check-label" for="exampleRadios1">
                        Yes
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="ut_jk"
                        id="exampleRadios11"
                        value="0"
                      />
                      <label class="form-check-label" for="exampleRadios11">
                        No
                      </label>
                    </div>
                  </div>

                  <div class="form-group col-md-6 align-items-end d-flex">
                    <input
                      type="submit"
                      id="submit"
                      name="submit"
                      class="btn btn-success w-100"
                      value="Submit"
                      disabled
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <table id="transaction_tb" class="table tbinfo">
          <thead id="thd" class="bg-light">
            <tr>
              <th>Sr No</th>
              <th>Block Name</th>
              <th>District</th>
              <th>J&K</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="transaction_div_dnld">
            <% if (list) { %> <% for(var i = 0; i < list.length; i++) { %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= list[i].name %></td>
              <td><%= list[i].district %></td>
              <td><%= list[i].ut_jk == 1 ? 'YES' : 'NO' %></td>
              <td>
                <form
                  onSubmit="if(!confirm('Are you sure?')){return false;}"
                  action="#"
                  method="post"
                >
                  <button type="submit" class="btn btn-sm btn-primary trigger">
                    <i class="fa fa-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
            <% } %> <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <script type="text/javascript">
      //Name
      $(function () {
        $("input[Name='Name']").on("input", function (e) {
          console.log("==>", $(this).val().charAt(3));
          if ($(this).val().indexOf("  ") != -1) {
            $(this).val($(this).val().replace("  ", " "));
            // $(this).val($(this).val().replace(".", ""));
          } else {
            $(this).val($(this).val().replace(".", ""));
          }
        });
      });
      $(document).ready(function () {
        $("#Name").on("keypress", function (e) {
          var regex = new RegExp("^[a-zA-Z ]*$");
          var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
          if (regex.test(str)) {
            return true;
          }
          e.preventDefault();
          return false;
        });
      });
      var text = document.getElementById("Name").value.replace(/ +/g, " ");
      const fName = document.querySelector("#Name");
      fName.addEventListener("input", () => {
        fName.value = fName.value ? fName.value.trimStart() : "";
      });
      function validateName() {
        var nm = document.getElementById("Name").value;
        var pattern = /^[a-zA-Z]{4,}(?: [a-zA-Z]+){0,2}$/;
        if (pattern.test(nm) == false || nm == " ") {
          document.getElementById("Name").value.replace(/\s+/g, " ");
          document.getElementById("Namediv").innerHTML = "Not valid Name";
          document.getElementById("Namediv").style.color = "red";
          return false;
        } else {
          document.getElementById("Namediv").innerHTML = "";
          document.getElementById("Namediv").style.color = "";
          return true;
        }
      }

      //district
      $(function () {
        $("input[district='district']").on("input", function (e) {
          console.log("==>", $(this).val().charAt(3));
          if ($(this).val().indexOf("  ") != -1) {
            $(this).val($(this).val().replace("  ", " "));
            // $(this).val($(this).val().replace(".", ""));
          } else {
            $(this).val($(this).val().replace("", ""));
          }
        });
      });
      $(document).ready(function () {
        $("#district").on("keypress", function (e) {
          var regex = new RegExp("^[a-zA-Z ]*$");
          var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
          if (regex.test(str)) {
            return true;
          }
          e.preventDefault();
          return false;
        });
      });
      var text = document.getElementById("district").value.replace(/ +/g, " ");
      const fdistrict = document.querySelector("#district");
      fdistrict.addEventListener("input", () => {
        fdistrict.value = fdistrict.value ? fdistrict.value.trimStart() : "";
      });
      function validatedistrict() {
        var nm = document.getElementById("district").value;
        var pattern = /^[a-zA-Z]{4,}(?: [a-zA-Z]+){0,2}$/;
        if (pattern.test(nm) == false || nm == " ") {
          document.getElementById("districtdiv").innerHTML =
            "Not valid district";
          document.getElementById("districtdiv").style.color = "red";
          return false;
        } else {
          document.getElementById("districtdiv").innerHTML = "";
          document.getElementById("districtdiv").style.color = "";
          return true;
        }
      }

      $("#Name, #district").on("input", function () {
        validateForm();
      });
      function validateForm() {
        var nameIsValid = validateName();
        var districtIsValid = validatedistrict();

        if (nameIsValid && districtIsValid) {
          $("#submit").prop("disabled", false);
        } else {
          $("#submit").prop("disabled", true);
        }
      }
    </script>
  </body>
</html>
